@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome Admin</h1>
    <p class="lead">This is a ONLINE EXAMINATION SYSTEM .</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>



<h3>AUTHOR</h3>
<p> First Name : @ViewBag.FirstName</p>
<p> Second Name : @ViewBag.SecondName</p>
<p> Address : @ViewBag.Address</p>
