@{
    ViewBag.Title = "LOGIN";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE HTML>
<html>
<head>
    <title>Square login form Responsive Widget  Website Template | Home:: w3layouts</title>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
</head>
<body>
    <!--header start here-->
    <div class="login-form">
        <div class="top-login">
            <span><img src="~/images/group.png" alt="" /></span>
        </div>
        <h1>Login</h1>
        <div class="login-top">
            <form>
                <div class="login-ic">
                    <i></i>
                    <input type="text" value="User name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}" />
                    <div class="clear"> </div>
                </div>
                <div class="login-ic">
                    <i class="icon"></i>
                    <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" />
                    <div class="clear"> </div>
                </div>

                <div class="log-bwn">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
        <p class="login-top"><a>@DateTime.Now.Year</a></p>
    </div>
</body>
</html>
